<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/doc/calendar.css">
    <link rel="stylesheet" href="/styles/doc/home.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>

    <script src="https://kit.fontawesome.com/ea0619ce99.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <title></title>

    <style>
      #wander {
  line-height: 50px;
  position: fixed;
  float: left;
  margin: 35px 150px;
  color: #fff;
  font-weight: 600 !important ;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 1s;
  font-weight: bold;
  font-size:20px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 1000;
  overflow-y: visible;
  border-bottom: 1px solid #f2f2f2;
  border-width: thin;
  padding: 10px;
  transition: background 300ms linear;
}

nav ul {
  line-height: 50px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.notifimg{
    color: #fff;
    background-color: #adb5bd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 50%;
    height: 48px;
    width: 48px
  }
  .items{
    font-size:18px;
  }

#background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F38%2F2020%2F01%2FGettyImages-643782350-2000.jpg&q=85");
  min-height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    </style>

  </head>


  <body>

    <nav id="nav" style="z-index:15;border:none;" class="navpic">
    <div class="logo">
      <span id="wander">FIRSTBORNS</span>
    </div>
    <div class="menu"  style="overflow:visible!important;">
      <ul id="ul" style="margin-left:60%;margin-top:1.7%;">
        <center>
         <li><a class="items" href="/users/dashboard"><i class="fas fa-home"></i></a></li>
         <li><a class="items" href="/blog"><i class="fas fa-blog"></i></a></li>
         <li class="dropdown">
           <i style="font-size:18px;" class="fas fa-bell dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
         </li>
         <li class="dropdown" style="margin-left:-4%;">
             <button style="color:white;font-size:16px;margin-top:-2%;" class="items btn btn-outline-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i style="font-size:18px;" class="items far fa-user-circle"><small><b>qwert</b></small></i>
             </button>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <a style="padding-top:2px;" class="dropdown-item" href="/users">Profile</a>
               <a style="padding-top:2px;" class="dropdown-item" href="/wanderlist/">WanderList</a>
               <a style="padding-top:2px;" class="dropdown-item" href="/users/logout">Logout</a>
             </div>
         </li>
       </center>
      </ul>
    </div>
  </nav>

  <div id="background">

  </div>


  <div class="container" style="margin-top:-20%">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2" style="margin-right:30% ">
                <div class="card-profile-image">
                  <a href="javascript:;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3dPHwJ4d77e8iMmaP7fucuFFZFpxtXD909RQjy1S-J7giSXTs" class="rounded-circle" style="margin-top:-55%">
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center" style="margin-left:60%;margin-top:-13%">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                  <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Photos</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>Jessica Jones<span class="font-weight-light">, 27</span></h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Bucharest, Romania</div>
              <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div>
              <div><i class="ni education_hat mr-2"></i>University of Computer Science</div>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
                  <a href="javascript:;">Show more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    <div id="caleandar" style="margin-left:14%;margin-top:5%">
    </div>
    <form id="calform">
<input type="text" name="finaldays" id="finaldays" hidden>
</form>

<button type="button" style="margin-bottom:3%;margin-left:5%;margin-right:5%;" class="btn btn-success" style="background-color:#06b995 !important;border-color: #06b995 !important" onclick="send()">Save</button>



    <script type="text/javascript" src="/styles/doc/calendar.js"></script>


    <script type="text/javascript">
    var events = [];

    var days=[]
    var flag=0
    var settings = {

        Color: '',
        LinkColor: '',
        NavShow: true,
        NavVertical: false,
        NavLocation: '',
        DateTimeShow: true,
        DateTimeFormat: 'mmm, yyyy',
        DatetimeLocation: '',
        EventClick: '',
        EventTargetWholeDay: false,
        DisabledDates:days,
        flag:0,
    };

    var element = document.getElementById('caleandar');
    caleandar(element,events,settings);

    var divs = document.querySelectorAll('.currMonth');

    var alldays=[]
    console.log(days)
    var dd=[]

    for(var m=0;m<divs.length;m++){
      var a =divs[m].getAttribute('data-date')
      var id=divs[m].getAttribute('id')
      for(var n=0;n<dd.length;n++){
        if(a==dd[n]){

          document.getElementById(id).classList.add('booked');

        }
      }
      console.log(a)
    }

    var k = function sel(d) {


  var a = d.getAttribute('data-date')
  var count=0
  s=""
  f=0
  for(var q = 0; q < days.length; q++){
    if(a==days[q]){
      f=1
      var id=d.getAttribute('id')
      document.getElementById(id).classList.remove('disableDay');
      days = days.filter(e => e !== a);
      count=count+1;
    }
    else {
      console.log('days')
      console.log(days)
      s=s.concat(days[q],"-");
    };
    };
    if(f==0) {
      s=s.concat(a);
    }
 document.getElementById('finaldays').value=s
  console.log(s)


if (count==0){
  days.push(a)
  console.log(days);
  var id=d.getAttribute('id')
  document.getElementById(id).classList.add('disableDay');
  var count=0;
}

}



    function send(){
    console.log('called')



    console.log($('#finaldays').val())
      $.ajax({
        type:'POST',
        url:'docs/dates',
        data:{
          dates:$('#finaldays').val(),
        },
        sucess:function(){
          return false
        }
      });

    };

    </script>

    <script>
      window.onscroll = function(){
    var navbar = document.getElementById('nav')
    var wander = document.getElementById('wander')
    var items = document.getElementsByClassName('items')
    var count = document.getElementById('count')
    var btn = document.getElementById('dropdownMenuButton')
    var ul = document.getElementById('ul')

    if (window.pageYOffset < 250){
      navbar.style.background = "rgba(0, 0, 0, 0)";
      navbar.style.boxShadow = 'none';
      wander.style.color = "#ffffff";
      wander.style.marginTop = "35px"
      ul.style.marginTop = "1.7%";
      btn.style.color = '#ffffff';
      for(var i=0; i<items.length; i++){
        items[i].style.color = "#ffffff";
        items[i].onmouseover = function(){
          items[i].style.color = "#06b995";
        }
      }
    } else {
      navbar.style.background = '#fff';
      navbar.style.boxShadow = "0 4px 4px -2px #495057";
      wander.style.color = "#60bfdc";
      btn.style.color = '#60bfdc';
      wander.style.marginTop = "17px"
      ul.style.marginTop = "0.4%";
      for(var i=0; i<items.length; i++){
        items[i].style.color = "#60bfdc";
        items[i].onmouseover = function(){
          items[i].style.color = "black";
        }
      }
    }
  }

    </script>

  </body>
</html>
