<html>
    <head></head>
    <body>
        <form action="/users/login" method="POST" >
            email:<input type="email" name="email">
            <button>submit</button>
        </form><br>
        
    </body>
    
</html>