<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="POST" action="/users/signup">
            Name:<input type="text" name="name" id="name" required> <br>
            Email:<input type="text" name="email" id="email" required><br>
            City:<input type="text" name="city" id="city" required><br>
            Mobile Number:<input type="number" name="phonenumber" id="phonenumber" required><br>
            Password:<input type="password" name="password" id="password" required><br>
            Confirm Password:<input type="password" name="confirm_password" id="password" required><br>
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img"  required><br>
            <button>submit</button>
        </form>
    </body>
</html>